[Unit]
Description=HP Victus fan control
After=multi-user.target

[Service]
Type=simple
ExecStart=HP_FAN_CONTROL_BIN
Restart=always
RestartSec=3
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
