[Unit]
Description=HP Victus fan control
After=systemd-modules-load.service

[Service]
Type=simple
ExecStart=HP_FAN_CONTROL_BIN
Restart=always
RestartSec=3
TimeoutStopSec=5
StandardOutput=journal
StandardError=journal
StateDirectory=hp-fan-control
StateDirectoryMode=0777

[Install]
WantedBy=multi-user.target
